body {
    background: linear-gradient(107.56deg, #30475E -27.88%, #6895C2 100%);
}

/* Navigation Bar */
.topnav {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 20px;
    margin-left: 5px;
}

.topnav a:hover {
    background-color: #eeeeee;
    color: #0f0f0f;
}

.topnav a.active {
    background-color: #FFFFFF;
    color: #000000;
}

#logo {
    width: 46px;
    height: 46px;
    float: left;
}

#navbartext {
    margin-left: 5px;
    font-size: 12px;
    color: #FFFFFF;
}

/* Main Website */
#main {
    position: absolute;
    width: 1616px;
    height: 700px;
    left: 152px;
    top: 110px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.6) 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
    border-radius: 50px;
}

#circle {
    position: absolute;
    width: 560px;
    height: 560px;
    left: 914px;
    top: 70px;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.79) 0%, rgba(217, 217, 217, 0.8) 100%);
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 500px;
    border-style: none;
}

#gift {
    position: absolute;
    left: 50px;
    top: 50px;
}

#text {
    position: absolute;
    width: 450px;
    height: 400px;
    left: 140px;
    top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    display: flex;
    align-items: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#text2 {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 140px;
    top: 185px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    display: flex;
    align-items: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#timer {
    position: absolute;
    width: 300px;
    height: 60px;
    top: 220px;
    left: 50px;
}

#button {
    position: absolute;
    width: 199px;
    height: 60px;
    left: 140px;
    top: 480px;
    background: #30475E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F5F5F5;
}

#button:hover{
    background: #486b8d;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

/* Footer */
#footer {
    position: fixed;
    bottom: 5px;
    width: 100%;
} 

.copyright {
    position: fixed;
}

#footer a:link {
    text-decoration: none;
    color: #000000;
}

#footer a:visited {
    text-decoration: none;
    color: #000000;
}

#footer a:hover {
    text-decoration: underline;
}

#footer a:active {
    text-decoration: underline;
}